In [1]:
import pandas as pd

log = pd.read_csv("logs/training_log.csv")
log

      Episode  Score  Max_Visited  Avg_Reward  Invalid_Moves  Epsilon  Win
0           0      7            8        0.03              0     1.00    0
1           1      9           10        0.58              0     1.00    0
2           2     10           11        0.80              0     1.00    0
3           3     13           14        1.35              0     1.00    0
4           4     13           14        1.35              0     1.00    0
...       ...    ...          ...         ...            ...      ...  ...
6576     6576     24           25        3.26              0     0.01    1
6577     6577     24           25        3.26              0     0.01    1
6578     6578     24           25        3.26              0     0.01    1
6579     6579     23           24        2.72              0     0.01    0
6580     6580     24           25        3.26              0     0.01    1

[6581 rows x 7 columns]

In [2]:
vitorias = log[log['Win'] == 1]

vitorias_3000 = vitorias[vitorias['Episode'] >= 3000]

In [5]:
episodios_vitoriosos = vitorias_3000['Episode']
modelos_vencedores = [f"models/knight_tour_dqn_b5_e{ep+1}.h5" for ep in episodios_vitoriosos if (ep+1) % 100 == 0]
modelos_vencedores

['models/knight_tour_dqn_b5_e3800.h5',
 'models/knight_tour_dqn_b5_e3900.h5',
 'models/knight_tour_dqn_b5_e5000.h5',
 'models/knight_tour_dqn_b5_e5100.h5',
 'models/knight_tour_dqn_b5_e5200.h5',
 'models/knight_tour_dqn_b5_e5300.h5',
 'models/knight_tour_dqn_b5_e5400.h5',
 'models/knight_tour_dqn_b5_e5500.h5',
 'models/knight_tour_dqn_b5_e5600.h5',
 'models/knight_tour_dqn_b5_e5700.h5',
 'models/knight_tour_dqn_b5_e5800.h5',
 'models/knight_tour_dqn_b5_e5900.h5',
 'models/knight_tour_dqn_b5_e6000.h5',
 'models/knight_tour_dqn_b5_e6100.h5',
 'models/knight_tour_dqn_b5_e6300.h5',
 'models/knight_tour_dqn_b5_e6400.h5',
 'models/knight_tour_dqn_b5_e6500.h5']

In [6]:
import os

# Modelos vencedores
modelos_vencedores = [
    'models/knight_tour_dqn_b5_e3800.h5',
    'models/knight_tour_dqn_b5_e3900.h5',
    'models/knight_tour_dqn_b5_e5000.h5',
    'models/knight_tour_dqn_b5_e5100.h5',
    'models/knight_tour_dqn_b5_e5200.h5',
    'models/knight_tour_dqn_b5_e5300.h5',
    'models/knight_tour_dqn_b5_e5400.h5',
    'models/knight_tour_dqn_b5_e5500.h5',
    'models/knight_tour_dqn_b5_e5600.h5',
    'models/knight_tour_dqn_b5_e5700.h5',
    'models/knight_tour_dqn_b5_e5800.h5',
    'models/knight_tour_dqn_b5_e5900.h5',
    'models/knight_tour_dqn_b5_e6000.h5',
    'models/knight_tour_dqn_b5_e6100.h5',
    'models/knight_tour_dqn_b5_e6300.h5',
    'models/knight_tour_dqn_b5_e6400.h5',
    'models/knight_tour_dqn_b5_e6500.h5',
]

# Remover arquivos não vencedores
for file in os.listdir('models/'):
    full_path = os.path.join('models', file)
    if full_path not in modelos_vencedores:
        os.remove(full_path)